<!--
<div id="hud">
  <span class="field">Airspeed: <span id="airspeed_value" class="value">0</span><span id="airspeed_true_value" class="value_small">0</span> </span>
  <span class="field">Altitude: <span id="altitude_value" class="value">0</span></span>
  <span class="field">Heading: <span id="heading_value" class="value">0</span></span>
  <span class="field">V.Speed: <span id="vertical_speed_value" class="value">0</span></span>
  <span class="field">Flaps: <span id="flaps_value" class="value">0</span></span>
  <span class="field">Trim: <span id="trim_value" class="value">0</span></span>
  <span class="field">R.Trim: <span id="rudder_trim_value" class="value">0</span></span>
</div>
<span id="hide-hud">hide hud</span> -->
<app-map></app-map>
